.button {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #16425b;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  font-size: 0.8em;
  min-height: 1.5rem;
}

.input {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #16425b;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  line-height: 1.5rem;
}
